<header class="site-header d-flex flex-column flex-md-row align-items-center pb-3 mb-5">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="site-nav d-flex flex-wrap align-items-center mt-3 mt-md-0 ms-md-auto">
    <a class="nav-chip" href="{{ site.github.url }}/#research-experience">Research Experience</a>
    <a class="nav-chip" href="{{ site.github.url }}/#publications">Publications</a>
    <a class="nav-chip" href="{{ site.github.url }}/#news">News</a>
    <a class="nav-chip" href="{{ site.github.url }}/#cv">CV</a>
    <a class="nav-chip" href="{{ site.github.url }}/#photo-wall">Photo Wall</a>
  </nav>
</header>
