---
layout: default
---

<div class="row g-3 mb-5">
  <!-- Left: Biography -->
  <div class="col-md-8 col-lg-9">
    <h3 class="fw-bold">Biography</h3>
    {{ content }}
  </div>

  <!-- Right: Photo + Contacts -->
  <div class="col-md-4 col-lg-3">
    <div class="text-center">
      <img src="{{ site.github.url }}/assets/img/index.jpg"
           alt="Profile Photo"
           style="max-width:220px;width:80%;height:auto;border-radius:10px;box-shadow:0 2px 8px rgba(0,0,0,0.1);" />
    </div>

    <p class="mt-3 text-center" style="line-height:1.8;">
      <a href="mailto:Xuning.Hu22@student.xjtlu.edu.cn">
        <img src="{{ site.github.url }}/assets/img/gmail.png" width="20" style="margin-bottom:-3px"> Mail
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=WNMJNnMAAAAJ&hl=en&oi=ao" target="_blank">
        <img src="{{ site.github.url }}/assets/img/google_scholar.png" width="20" style="margin-bottom:-3px">
        Google Scholar
      </a>
    </p>
  </div>
</div>

<!-- Content sections -->
<section id="research-experience">
  {% include researchexperience.html %}
</section>
<hr>
<section id="publications">
  {% include publications.html %}
</section>
<hr>
<section id="news">
  {% include news.html %}
</section>
<hr>
<section id="cv">
  {% include cv.html %}
</section>
<hr>
<section id="photo-wall">
  {% include photowall.html %}
</section>
<hr>

<div style="width:300px;height:300px;overflow:hidden;position:relative;">
  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=AqXitqhCGAFl2AuK0hdHF5ijO0pLUl_Qoa_E9BSAX-Q"></script>
</div>
